<a class="{% if page.home %}active {% endif %}item loading-trigger" href="{{ '/' | relative_url }}"><i class="{% if page.home %}yellow {% endif %}"></i>法林导航</a>

<a class="{% if page.finder %}active {% endif %}item loading-trigger" href="{{ '/finder/' | relative_url }}"><i class="{% if page.finder %}brown {% endif %}"></i>其他网站</a>

<a class="{% if page.analytics %}active {% endif %}item loading-trigger" href="{{ '/analytics/' | relative_url }}"><i class="{% if page.analytics %}orange {% endif %}"></i>检索指南</a>

<a class="{% if page.donate %}active {% endif %}item loading-trigger" href="{{ '/donate/' | relative_url }}"><i class="{% if page.donate %}brown {% endif %}"></i>关于本站</a>